* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-size: 16px;
     font-family: RazerF5;
    display: inline-block;
    width: 100% !important;
    color: #262626;
    overflow-x: hidden;
    font-weight: 400;
}

.sz940{
    min-width: 1015px;
    max-width: 1200px;
}

.sz1280 {
    min-width: 1215px;
    max-width: 1460px;
}